@charset "utf-8";

#hero-header-body {
    color: #333;
}

#form-body {
    background-color: #eee;
    border-color: #eee;
    
}





#find-out-more {
    color:#fff;
    margin-left: 5px;
}

#form-explanation {
    color: #333;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 25%;
}

.form-heading-text {
    font-weight: 600;
    color: #000066;
}

#register-form-button {
    background-color: #FF9933;
    width: auto;
    padding: 15px;
    
}

.circle-callout {
    border-radius: 0px;
    background-color: inherit;
    border-color: transparent;
    color: #333;
    line-height: 200%;
}

.blue-highlight {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3366FF;
    font-size: larger;
}

#body-container {
    padding-top: 25px;
}



.quote {
    color: #333;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;        
}

#form-header {
    background-color: #666;
    border-color: #666;
}


